@font-face {
    font-family: Norse-Bold;
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

body, p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-image: url('./images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Norse-Bold, Arial, Helvetica, sans-serif;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    top: 20vh;
}

.logo img {
    width: 7rem;
}

.logo h1 {
    margin: 0;
    font-size: 7rem;
    display: flex;
    align-items: center;
}

.credit {
    margin-top: auto;
    margin-bottom: 1rem;
}

.credit a {
    color: white;
}

.signup {
    flex: 2;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    background-color: #FAFAFA;
}

.signup p, form, button {
    margin-left: 4rem;
    margin-right: 12rem;
}

.register-form {
    background-color: white;
    box-shadow: 0 1rem 1.5rem -1.5rem;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.register-form p {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 5rem;
}

form, .bottom p {
    font-weight: normal;
}

label {
    font-size: 1.15rem;
}

input {
    font-size: 1.5rem;
    height: 2rem;
    width: 17rem;
}

button {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #596D48;
    padding: 1rem 3rem;
    border-radius: 8px;
    border: none;
    width: 18rem;
}

.bottom p a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}