@font-face {
    font-family: Norse-Bold;
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

:root {
    --input-width: 17rem;
}

body, p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-image: url('./images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Norse-Bold, Arial, Helvetica, sans-serif;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    top: 20vh;
}

.logo img {
    width: 7rem;
}

.logo h1 {
    margin: 0;
    font-size: 7rem;
    display: flex;
    align-items: center;
}

.credit {
    margin-top: auto;
    margin-bottom: 1rem;
}

.credit a {
    color: white;
}

.signup {
    flex: 2;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    background-color: #FAFAFA;
}

.signup p, form, button {
    margin-left: 4rem;
    margin-right: 12rem;
}

.register {
    background-color: white;
    box-shadow: 0 1rem 1.5rem -1.5rem;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.register p {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 5rem;
}

form, .bottom p {
    font-weight: normal;
}

label {
    font-size: 1.15rem;
}

input {
    font-size: 1.5rem;
    height: 2rem;
    width: var(--input-width);
    border: 1px solid;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
}

input:focus {
    outline: solid 1px #596D48;
    box-shadow: 3px 3px 2px -2px grey;
}

#email:focus:invalid {
    outline: solid 1px red;
}

#email:focus:valid {
    outline: solid 1px blue;
}

#password-validation, #password-confirm {
    display: none;
    position: relative;
    padding: 0.25rem;
    width: var(--input-width);
}
  
#password-validation p, #password-confirm p {
    font-size: 0.75rem;
    width: var(--input-width);
    margin: 0;
    margin-left: 0.5rem;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -0.5rem;
    content: "✔";
}
  
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -0.5rem;
    content: "✖";
}

button {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #596D48;
    padding: 1rem 3rem;
    border-radius: 8px;
    border: none;
    width: 18rem;
}

.bottom p a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}